@font-face { 
    font-family: "Proxima Nova"; 
    src: local("ProximaNova-Regular"), url("../assets/fonts/ProximaNova-Regular.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap; 
}

@font-face { 
    font-family: "Proxima Nova"; 
    src: local("ProximaNova-Bold"), url("../assets/fonts/ProximaNova-Bold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
}

@font-face { 
    font-family: "Publico Headline"; 
    src: local("PublicoHeadline-Bold"), url("../assets/fonts/PublicoHeadline-Bold.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 700; 
    font-display: swap; 
}

@font-face { 
    font-family: "Publico Headline"; 
    src: local("PublicoHeadline-Black"), url("../assets/fonts/PublicoHeadline-Black.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 900; 
    font-display: swap; 
}

@font-face { 
    font-family: "Publico Text"; 
    src: local("PublicoText-Roman"), url("../assets/fonts/PublicoText.woff2") format("woff2"); 
    font-style: normal; 
    font-weight: 400; 
    font-display: swap; 
}